.InputRange-label {
  color: $InputRange-label-color;
  font-family: $InputRange-fontFamily;
  font-size: 0.8rem;
  white-space: nowrap;
}

.InputRange-label--min,
.InputRange-label--max {
  bottom: -1.4rem;
  position: absolute;
}

.InputRange-label--min {
  left: 0;
}

.InputRange-label--max {
  right: 0;
}

.InputRange-label--value {
  position: absolute;
  top: -1.8rem;
}

.vertical .InputRange-label--min {
    bottom: 0;
    left: 1.75rem;
}

.vertical .InputRange-label--max {
    right: -0.5rem;
    top: 0;
}

.vertical .InputRange-label--value {
    left: 1.5rem;
    top: -0.5rem;
}