rules:
  indent:
    - 2
    - 2
  quotes:
    - 2
    - single
  semi:
    - 2
    - always
  react/jsx-boolean-value:
    - 2
    - always
  react/sort-comp:
    - 2
    - order
      - lifecycle
      - /^on.+$/
      - render
      - everything-else
env:
  es6: true
  browser: true
  jasmine: true
extends: airbnb
ecmaFeatures:
  jsx: true
  experimentalObjectRestSpread: true
  modules: true
plugins:
  - react
