rules:
  class-methods-use-this:
    - 1
  indent:
    - 2
    - 2
  max-len:
    - 0
  no-plusplus:
    - 2
    - allowForLoopAfterthoughts: true
  quotes:
    - 2
    - single
  semi:
    - 2
    - always
  jsx-a11y/no-static-element-interactions:
    - 0
  react/jsx-closing-bracket-location:
    - 0
  react/require-default-props:
    - 0
env:
  es6: true
  browser: true
  jasmine: true
extends: airbnb
ecmaFeatures:
  jsx: true
  experimentalObjectRestSpread: true
  modules: true
plugins:
  - react
