.form {
  margin: 0 auto;
  padding: 100px 30px 0;

  @media (min-width: 800px) {
    max-width: 60%;
  }
}

.input-range {
  margin-bottom: 160px;
}

.touch-friendly {
  .input-range {
    &__track {
      height: 30px;

      &--active {
        background: rgba(#3f51b5, 0.5)
      }
    }

    &__slider {
      width: 40px;
      height: 40px;

      &-container {
        top: 5px;
      }
    }
  }
}
